
.card{
    flex: 1;
    margin: 0 10px;

    .content{
        padding: 10px 20px;
    }

    .wrapper-title{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }


    .icon-buy{
        display: flex;
        transition: all 1s;
    }


    .icon-buy:hover{
        border-radius: 150px;
        border-width: 500px;
        background-color: #F29ECB;
    }

    .title{
        font-size: 25px;
        font-weight: 600;
    }
    .img{
        >img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}