.container-cards{
    
}

.card-category:first-child{
    border-top: 1px solid #EDEDED;
}

.card-category{
    height: 250px;
    margin: 10px 0 10px 0;
    display: flex;
    border-bottom: 1px solid #EDEDED;
}
