@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: WinterSunday;
  src: url(../assets/fonts/WinterSunday.otf);
}

.main-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 105px;
  width: 100%;
}

.main-header > img {
  z-index: 40;
}

.main-header .wrapper-login {
  border-radius: 40px;
  background-color: #DB00FF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-header .wrapper-login > img {
  position: absolute;
  right: 0px;
  z-index: 0;
}

.main-header .wrapper-login > a {
  color: #fff;
  line-height: 24,19px;
  font-family: 'Viga', Arial, Helvetica, sans-serif;
  font-size: 38px;
}

.main-header .main-action {
  padding-top: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 61px;
  padding-left: 61px;
  font-size: 2.5rem;
  font-family: WinterSunday;
  color: #7C3267;
  text-decoration: none;
}

.main-header .main-action.-second {
  color: #fff;
  line-height: 24,19px;
  font-family: 'Viga', Arial, Helvetica, sans-serif;
  font-size: 38px;
  padding-top: 0px;
  padding-right: 99px;
  padding-left: 15px;
}

.main-header .main-action.-third {
  padding-top: 0px;
  padding-right: 99px;
  padding-left: 15px;
  font-size: 18px;
}

.main-header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-header .nav a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-header .nav a:hover {
  font-size: 55px;
  color: #7C3267;
}

.main-header .logomin {
  display: none;
}

.main-header .logobig {
  display: block;
}

.main-header .arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 20px;
  margin-left: 20px;
}

.main-header #menu-trigger {
  display: none;
}

@media (min-width: 320px) and (max-width: 800px) {
  .main-header .main-action {
    display: none;
  }
  .main-header .wrapper-login {
    background-color: white;
  }
  .main-header .wrapper-login > img {
    position: relative;
  }
  .main-header .wrapper-login > a {
    display: none;
  }
  .main-header .logomin {
    display: block;
  }
  .main-header .logobig {
    display: none;
  }
  .main-header #menu-trigger {
    display: block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 40px;
    margin-right: 20px;
    right: 0;
    cursor: pointer;
    z-index: 3001;
  }
  .main-header .menu-trigger div {
    width: 30px;
    height: 4px;
    background: black none repeat scroll 0% 0%;
    margin-top: 3px;
  }
  .main-header .menu-hidde {
    display: none;
    text-decoration: none;
    background: white none repeat scroll 0% 0%;
    width: 185px;
    height: 80%;
    position: absolute;
    /*necessária para o funcionamento*/
    -webkit-box-shadow: -5px 11px 21px gray;
            box-shadow: -5px 11px 21px gray;
    right: -100%;
    /*é com essa propriedade que o menu fica escondido a direita*/
    -webkit-transition: right .5s;
    transition: right .5s;
    z-index: 3000;
  }
  .main-header .menu-hidde > li {
    color: #fff;
    font-size: 20px;
    padding: 18px;
    cursor: pointer;
  }
  .main-header .menu-hidde > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-header .menu-hidde > a {
    text-align: center;
    font-family: 'Viga';
    color: #7C3267;
  }
  .main-header .menu-hidde > a::after {
    content: '';
    width: 50%;
    background: #7C3267;
    height: 3px;
    display: block;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .main-header .logomin {
    display: block;
  }
  .main-header .logobig {
    display: none;
  }
  .main-header .menu-hidde {
    display: none;
  }
  .main-header .main-action {
    padding-right: 14px;
    padding-left: 14px;
    display: block;
  }
}

@media (min-width: 1025px) {
  .main-header .main-action {
    padding-right: 30px;
    padding-left: 30px;
    display: block;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-header .logomin {
    display: block;
    padding-left: 10px;
  }
  .main-header .logobig {
    display: none;
  }
  .main-header .menu-hidde {
    display: none;
  }
}

@media (min-width: 1281px) {
  .main-header .logomin {
    display: none;
  }
  .main-header .-secundary .logomin {
    display: block;
  }
  .main-header .logobig {
    display: block;
  }
  .main-header .menu-hidde {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */