.main-topseller{
    text-align: center;
    height: 100%;


    .wrapper-maisvendidos{
        display: flex;
        justify-content: center;
        gap: 20px;
        padding-top: 15px;

        .locate-info{
            display: flex;
            
            >img{
                margin-right: 1em;
                width: 50px;
                height: 50px;
                max-width: 100%;
            }

            >p{
                font-family: 'Viga', Arial, Helvetica, sans-serif;
                position: relative;
                color: white;
                text-shadow: 1px 1px 2px #000;
                top: 285px;
            }
        }

        .produto:nth-child(even){
            margin: 0px 20px 0 20px;
        }

        
    }

    @media (min-width: 320px) and (max-width: 599px){

        .wrapper-maisvendidos{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            .produto{
                width: 250px;
                height: 250px;

                >p{
                    top: 255px;
                }
            }

            .produto:nth-child(even){
                margin: 0 0 33px 0;
            }
        }   
    }
    
    @media (min-width: 480px) and (max-width: 599px){
        .wrapper-maisvendidos{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            .produto{
                width: 300px;
                height: 300px;

                >p{
                    top: 305px;
                }
            }

            .produto:nth-child(even){
                margin: 0 0 33px 0;
            }
        }
    }
    
    @media (min-width: 600px) and (max-width: 800px){
        .wrapper-maisvendidos{
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            .produto{
                width: 410px;
                height: 410px;

                >p{
                    top: 415px;
                }
            }

            .produto:nth-child(even){
                margin: 0 0 33px 0;
            }
        }
    }

    @media (min-width: 801px) and (max-width: 1024px){
        
        .wrapper-maisvendidos .produto{
            width: 240px;
            height: 240px;

            >p{
                top:255px;
            }
        }   
    }
    
    @media (min-width: 1025px) and (max-width: 1280px){

        .wrapper-maisvendidos .produto{
            width: 315px;
        }
    }

}

