.main-topseller {
  text-align: center;
  height: 100%;
}

.main-topseller > h1 {
  padding-top: 20px;
}

.main-topseller .main-title {
  font-family: "Lato", sans-serif;
  font-size: 2.3em;
  line-height: 1.3;
  font-weight: 700;
  color: #f29ecb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-topseller .main-title > span {
  height: 3px;
  width: 30%;
  background-color: #EDEDED;
  position: relative;
  top: 20px;
}

.main-topseller .main-title > p {
  margin: 0 20px;
}

.main-topseller .wrapper-maisvendidos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding-top: 15px;
}

.main-topseller .wrapper-maisvendidos .locate-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-topseller .wrapper-maisvendidos .locate-info > img {
  margin-right: 1em;
}

.main-topseller .wrapper-maisvendidos .locate-info > p {
  font-family: 'Viga', Arial, Helvetica, sans-serif;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px #000;
  top: 285px;
}

.main-topseller .wrapper-maisvendidos .produto:nth-child(even) {
  margin: 0px 20px 0 20px;
}

@media (min-width: 320px) and (max-width: 599px) {
  .main-topseller {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 70px;
  }
  .main-topseller .wrapper-maisvendidos {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-topseller .wrapper-maisvendidos .produto {
    width: 250px;
    height: 250px;
  }
  .main-topseller .wrapper-maisvendidos .produto > p {
    top: 255px;
  }
  .main-topseller .wrapper-maisvendidos .produto:nth-child(even) {
    margin: 0 0 33px 0;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .main-topseller .wrapper-maisvendidos {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-topseller .wrapper-maisvendidos .produto {
    width: 300px;
    height: 300px;
  }
  .main-topseller .wrapper-maisvendidos .produto > p {
    top: 305px;
  }
  .main-topseller .wrapper-maisvendidos .produto:nth-child(even) {
    margin: 0 0 33px 0;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .main-topseller .wrapper-maisvendidos {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-topseller .wrapper-maisvendidos .produto {
    width: 410px;
    height: 410px;
  }
  .main-topseller .wrapper-maisvendidos .produto > p {
    top: 415px;
  }
  .main-topseller .wrapper-maisvendidos .produto:nth-child(even) {
    margin: 0 0 33px 0;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .main-topseller {
    height: 515px;
    margin-bottom: -1px;
  }
  .main-topseller .wrapper-maisvendidos .produto {
    width: 240px;
    height: 240px;
  }
  .main-topseller .wrapper-maisvendidos .produto > p {
    top: 255px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-topseller {
    height: 565px;
  }
  .main-topseller .wrapper-maisvendidos .produto {
    width: 315px;
  }
}

@media (min-width: 1281px) {
  .main-topseller {
    padding-bottom: 50px;
    margin-bottom: -1px;
  }
}
/*# sourceMappingURL=maisvendidos.css.map */