.container-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    transition: ease-in-out 7s all;

    .container-logo{
        display: flex;
        flex-direction: column;
        animation: myAnim 7s forwards;
        position: absolute;

        .logo{
            padding-top: 15px;
            width: 300px;
            animation: myAnim 7s forwards;

        }
    }

    .container-logo::after{
        content: '';
        width: 330px;
        height: 1px;
        border: 4px solid #dfdfdf;
        border-radius: 62%;
        animation: myAnim 7s forwards;
    }

    .container-questions{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container-form{
    width: 700px;
    height: 150px;
    background-color: red;
    transition: ease-in-out 7s all;
    animation: myAnim2 7s forwards;
}

@keyframes myAnim {
    0% {
        left: -1000px;
    }

    50%{
        left: 550px;
    }

    100% {  
        left: 1500px;
    }
}

@keyframes myAnim2{
    from{
        
    }

    to{
        height: 100vh;
    }
}