.main-ideia {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main-ideia .form {
  margin-left: 147px;
  background-color: #FFF;
  width: 100%;
  padding-left: 45px;
}

.main-ideia .form > h1 {
  font-family: 'Viga', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 75px;
  line-height: 100px;
  color: #000;
}

.main-ideia .form > p {
  font-family: 'Viga', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000;
}

.main-form {
  padding-top: 53px;
}

.main-form > label {
  font-family: 'Viga', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000;
  padding-right: 15px;
}

.main-form > input {
  background-color: #fff;
  color: #000;
  border-radius: 12px;
  padding-left: 5px;
  width: 590px;
}

.main-form > input:focus {
  border: 2px solid pink;
}

.main-form > textarea {
  width: 645px;
  height: 217px;
  resize: none;
  border-radius: 12px;
}

.main-form > textarea:focus {
  border: 2px solid pink;
}

.main-form .submit {
  margin-top: 40px;
  background: #FEB2CE;
  color: white;
  font-family: 'Viga';
  width: 645px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .main-ideia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-ideia .logo {
    display: block;
    width: 100%;
    height: 100%;
  }
  .main-ideia .logo > img {
    width: 100%;
  }
  .main-ideia .form {
    margin-left: auto;
    padding-left: 0;
    height: 100%;
  }
  .main-ideia .form > h1 {
    font-size: 4em;
  }
  .main-ideia .form > p {
    padding: 0px 10px;
    max-width: 100%;
  }
  .main-form {
    padding-top: 15px;
    margin: 0 10px;
  }
  .main-form > input {
    width: 95%;
  }
  .main-form > textarea {
    width: 95%;
  }
  .main-form .submit {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .main-ideia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-ideia .logo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-ideia .logo > img {
    max-width: 65%;
  }
  .main-ideia .form {
    margin-left: auto;
    padding-left: 0;
    height: 100%;
  }
  .main-ideia .form > h1 {
    font-size: 4em;
    padding-left: 5px;
  }
  .main-ideia .form > p {
    padding: 0px 10px;
    max-width: 100%;
  }
  .main-form {
    padding-top: 15px;
    margin: 0 10px;
  }
  .main-form > input {
    width: 95%;
  }
  .main-form > textarea {
    width: 95%;
  }
  .main-form .submit {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .main-ideia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-ideia .logo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .main-ideia .logo > img {
    max-width: 35%;
  }
  .main-ideia .form {
    margin-left: auto;
    padding-left: 0;
    height: 100%;
  }
  .main-ideia .form > h1 {
    font-size: 4em;
    padding-left: 5px;
  }
  .main-ideia .form > p {
    padding: 0px 10px;
    max-width: 100%;
  }
  .main-form {
    padding-top: 15px;
    margin: 0 10px;
  }
  .main-form > input {
    width: 95%;
  }
  .main-form > textarea {
    width: 95%;
  }
  .main-form .submit {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .main-ideia {
    background: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-ideia .logo {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 330px;
            flex: 1 1 330px;
  }
  .main-ideia .logo > img {
    max-width: 100%;
  }
  .main-ideia .form {
    margin-left: auto;
    padding-left: 0;
    height: 100%;
  }
  .main-ideia .form > h1 {
    font-size: 4em;
    padding-left: 5px;
  }
  .main-ideia .form > p {
    padding: 0px 10px;
    max-width: 100%;
  }
  .main-form {
    padding-top: 15px;
    margin: 0 10px;
  }
  .main-form > input {
    width: 95%;
  }
  .main-form > textarea {
    width: 95%;
  }
  .main-form .submit {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-ideia {
    background: #FFF;
  }
  .main-ideia .logo {
    max-width: 100%;
  }
  .main-ideia .logo > img {
    max-width: 100%;
  }
  .main-ideia .form {
    margin-left: 0;
  }
  .main-form {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .main-form > input {
    width: 590px;
  }
  .main-form > textarea {
    width: 590px;
  }
  .main-form .submit {
    width: 590px;
  }
}

@media (min-width: 1281px) {
  .main-ideia {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f9f9f9;
    height: 100vh;
  }
  .main-ideia .logo {
    width: 100%;
    text-align: right;
  }
  .main-ideia .logo > img {
    width: 50%;
  }
  .main-ideia .form {
    margin-left: 0;
    padding-bottom: 50px;
    background-color: #f9f9f9;
  }
  .main-form {
    padding-top: 50px;
  }
  .main-form > input {
    width: 590px;
  }
  .main-form > textarea {
    width: 590px;
  }
  .main-form .submit {
    width: 590px;
  }
}
/*# sourceMappingURL=mandesuaideia.css.map */