.container-logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    transition: ease-in-out 7s all;

    .wrapper-logo{
        display: flex;
        flex-direction: column;
        animation: myAnim 7s forwards;
        position: absolute;

        .logo{
            padding-top: 15px;
            width: 300px;
            animation: myAnim 7s forwards;

        }
    }

    .wrapper-logo::after{
        content: '';
        width: 330px;
        height: 1px;
        border: 4px solid #dfdfdf;
        border-radius: 62%;
        animation: myAnim 7s forwards;
    }

    .container-questions{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.container-content{
    width: 100%;
    display: none;
    height: 150px;
    transition: ease-in-out 1.5s all;
    animation: myAnim2 1.5s forwards;
    justify-content: center;
    align-items: center;

    .container-form{
        width: 800px;
        height: 400px;
        background-color: rgb(230, 230, 230);
        display: flex;
        border-radius: 20%;

        .gravatar-image{
            display: flex;
            height: 100%;
            align-items: center;
            >img{
                width: 200px;
            }
        }

        .wrapper-text{
            
            .question{
                background-color: white;
                border: 10px solid white;
                padding-left: 15px;
                padding-top: 10px;
            }

            .container-answers{
                height: 68%;
                display: flex;
                flex-direction: column;

                .wrapper-answer{
                    width: 570px;
                    display: flex;
                    justify-content: flex-end;

                    .word{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-top: 20px;
                        background-color: black;
                        color: white;
                        padding: 10px;
                    }

                    .answer{
                        width: 80%;
                        padding-left: 5px;
                        height: 45px;
                        align-items: center;
                        display: flex;
                        background: white;
                        margin-top: 20px;
                        border: 2px solid black;
                    }
                }

                .answer:hover{
                    color: white;
                    background-color: grey;
                }
            }
        }
    }
}

@keyframes myAnim {
    0% {
        left: -1000px;
    }

    50%{
        left: 550px;
    }

    100% {  
        left: 1500px;
    }
}

@keyframes myAnim2{
    from{
        
    }

    to{
        height: 100vh;
    }
}