figure{
    margin: 0;
}

body{
    background-color: #EDEBF4;
}

.main-busca{
    display: flex;
    align-items: center;
    flex-direction: column;

    .main-title{
        padding: 20px 0;
        font-family: WinterSunday;
        font-size: 92px;
        color: #F4D6F1;
        text-shadow: -1px 3px 0px #FF005C;
    }

    .wrapper-busca{
        position: relative;
        bottom: 33px;
        display: flex;
        flex-direction: column;
        align-items: center;

        >input{
            width: 515px;
            border-radius: 76px;
            padding-left: 10px;
            text-align: center;
        }

        >button{
            text-align: center;
            width: 266px;
            height: 30px;
            font-family: 'Viga',Arial, Helvetica, sans-serif;
            font-size: 1em;
            border-radius: 8px;
            color: white;
            background-color: #FEB2CE;
        }
    }
}

.main-products{
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100%;

    .product-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 5px;
        max-width: 905px;
        margin: 0 auto;

        .product{
            width: 222px;
            height: 204px;
            background-color: #C4C4C4;

            >figcaption{
                position: relative;
                top: 165px;
                text-align: center;
                font-family: 'Viga', Arial, Helvetica, sans-serif;
                color: white;
                text-shadow: 1px 1px 1px #000;
            }
        }
    }
}



@media(min-width:0px) and (max-width: 403px){
    .product-grid .product:nth-child(odd){
        margin-right: 0px;
    }
}

@media(min-width: 320px) and (max-width: 479px){
    .wrapper-busca input{
        width: 300px
    }

    .main-products{
        margin: 0 auto;
        padding-bottom: 16px;
    }

    .product-grid{
        justify-content: center;
        height: 100%;
        padding-left: 0px;

        .product{
            margin-bottom: 10px;
            flex: 1 1 200px;
            height: 200px;
        }

        .product:nth-child(odd){
            margin-right: 5px;
        }
    }
}

@media(min-width: 480px) and (max-width: 599px){
    .wrapper-busca input{
        width: 455px;
    }

    .product-grid{
        justify-content: center;
        height: 100%;
        padding-left: 0px;

        .product{
            margin-bottom: 10px;
            flex: 1 1 200px;
            height: 200px;
        }

        .product:nth-child(odd){
            margin-right: 5px;
        }
    }
}

@media (min-width: 600px) and (max-width: 800px){
    .product-grid{
        height: 100%;
        padding-left: 0px;

        .product{
            margin-bottom: 10px;
            flex: 1 1 155px;
            height: 200px;
            margin-right: 2px;
        }
    }
}

@media(min-width: 801px) and (max-width: 1024px){
    .main-products{
        max-width: 960px;
        margin: 0 auto;
    }

    .product-grid{
        margin: 0px 10px;
        padding-left: 0px;
        height: auto;

        .product{
            margin-bottom: 10px;
            flex: 1 1 204px;
            margin-right: 5px;
        }
    }
}

@media (min-width: 1025px) and (max-width: 1280px){
    .product-grid{
        margin: 0px 10px;
        padding-left: 0px;
        height: auto;

        .product{
            margin-bottom: 10px;
            flex: 1 1 204px;
            margin-right: 5px;
        }
    }
}

@media (min-width:1281px){
    .product-grid{
        margin: 0px 10px;
        padding-left: 0px;
        height: auto;
    }
}


@media (min-width: 1280px) and (max-width: 1366px){
    .main-products{
        margin-left: 28px;
    }
}