figure{
    margin: 0;
}

body{
    background-color: #EDEBF4;
}

.container-produtos{
    width: 80%;
    height: 100%;
    background-color: #e3e3e3;
}

.container-filter{
    width: 20%;
    height: 100vh;

}

.main-busca{
    display: flex;
    justify-content: end;
    right: 0;
    top: 200px;
    position: absolute;

    .main-title{
        padding: 20px 0;
        font-family: WinterSunday;
        font-size: 92px;
        color: #F4D6F1;
        text-shadow: -1px 3px 0px #FF005C;
    }

    .wrapper-busca{
        position: relative;
        padding-top: 20px;
        display: flex;
        padding-right: 15px;
        

        >input{
            width: 400px;
            border-radius: 76px;
            padding-left: 10px;
            text-align: center;
        }

        >button{
            text-align: center;
            width: 100px;
            height: 30px;
            font-family: 'Viga',Arial, Helvetica, sans-serif;
            font-size: 1em;
            border-radius: 8px;
            color: white;
            background-color: #bc36f4;
        }
    }
}

.product-grid{
    display: flex;
    text-align: center;
    padding-top: 150px;
    padding-right: 10px;
}

.wrapper-produto{
    padding: 40px 0 40px 0;
    text-align: left;
    display: flex;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    .icon-produto{
        >img{
            width: 300px;
        }
    }

    .info-produto{
        >h1{
            font-size: 25px;
        }
        padding-left: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .wrapper-additional-info{
            display: flex;
            justify-content: space-between;

            .container-situation{
                display: flex;
            }

            .buy-button{
                padding-right: 50px;

                .botao{
                    border-radius: 10px;
                    width: 200px;
                    height: 45px;
                    border: none;
                    outline: none;
                    padding: 5px 16px;
                    cursor: pointer;
                    font-size: 24px;
                    background-color: #009688;
                    position: relative;
                    background: linear-gradient(-0.12turn, #ff78a6, #bc36f4, #ff1ff8);
                    z-index: 1;
                    color: #ffffff;
                    font-weight: 100;
                }

                .botao:hover::before {
                    opacity: 1;
                }   
                .botao::before{
                    border-radius: 10px;
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background: linear-gradient(-0.12turn, #ff1ff8, #ff78a6, #bc36f4);
                    z-index: -1;
                    transition: opacity 0.5s linear;
                    opacity: 0;
                }

                .botao:hover{
                        box-shadow:0 200px 100px -100px #F44336e2 inset;
                        transition:background 1s ease,box-shadow 2s ease;
                }
            }
        }
    }
}