


.main-slide{
    display: flex;
    justify-content: center;
    /**background-color: #ECECEC;**/
    height: 450px;
    overflow: hidden;
    border-bottom: 6px ridge #FFF;
    position: relative;

    .clouds{
        position: absolute;
        box-sizing: border-box;
        z-index: 3;
        overflow: hidden;
        top: -131px;
        display: flex;
        left: -506px;

        >img{
            position: relative;
            height: 251px;
            width: auto;
            bottom: -54px;
            overflow: hidden;
            margin: 0px 230px 0px 230px;
        }
    }

    .bg_video{
        position: absolute; 
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto; 
        z-index: -1000;
        overflow: hidden;
    }

    .wrapper-slide{
        display: flex;
        flex-direction: column;
        align-items: center;

        .wrapper-slide.-fundo{
            z-index: 1;
            position: relative;
            height: 678px;
            top: -100px;
        }

        .wrapper-slide.-mascara{
            -webkit-mask-image: url(../assets/img/nuvem-fundo.png);
            -webkit-mask-size: 918px;
            -webkit-mask-repeat: no-repeat;
            z-index: 2;
            position: relative;
            height: 650px;
            top: -764px;
            left: 60px;
        }

        .legenda{
            z-index: 3;
            background-color: rgba(200, 54, 230, 0.33);
            width: 605px;
            position: absolute;
            height: 120px;
            top: 325px;

            >h1{
                text-align: center;
                font-family: WinterSunday;
                font-size: 45px;
                color: #FFF;
                text-shadow: 1px 2px 0px #000;
            }

            >p{
                text-align: center;
                font-family: "Viga", Arial, Helvetica, sans-serif;
                color: #FFF;
                text-shadow: 1px 1px 1px #000;
                width: 369px;
                left: 135px;
                position: relative;
            }

        }
    }

    @media(min-width: 320px) and (max-width: 599px){
        height: 470px;

        .wrapper-slide{
            .class{
                display: none;
            }

            .legenda{
                width: 100%;
                height: 140px;

                >p{
                    width: auto;
                    left: auto;
                }
            }
            .clouds{
                display: none;
            }
        }
        
    }
    

    @media(min-width: 600px) and (max-width: 800px){
        .wrapper-slide .class{
            display: none;
        }
    
        .wrapper-slide .legenda{
            width: 100%;
            height: 120px;
        }
    
        .wrapper-slide .legenda p{
            width: auto;
            left: auto;
            padding-left: 35px;
        }
    
        .wrapper-slide .clouds{
            display: none;
        }
    }

    @media(min-width: 801px) and (max-width: 1024px){
    
        .clouds img{
            margin: 0px 220px 0px 233px;
        }
    }
    
    @media(min-width: 1025px) and (max-width: 1280px){
    
        .clouds img{
            margin: 0px 220px 0px 233px;
        }
    }
}