.main-comments{
    text-align: center;
    height: 100%;
    padding-top: 45px;
    margin-bottom: -1px;
    padding-bottom: 20px;

    .main-title{
        padding-top: 20px;
        font-family: "Lato", sans-serif;;
        font-size: 2.3em;
        line-height: 1.3;
        font-weight: 700;
        color: rgb(242, 158, 203);
        display: flex;
        justify-content: center;

        .divider{
            height: 3px;
            width: 140px;
            background-color: #EDEDED;
            position: relative;
            top: 20px;
        }
    }

    .slider{
        max-width: 1150px;
        display: flex;

        .card{
            flex: 1;
            margin: 0 10px;

            .content{
                padding: 10px 20px;
            }

            .title{
                font-size: 25px;
                font-weight: 600;
            }
            .img{
                >img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    @media(min-width: 320px) and (max-width: 479px){
        
        height: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        flex-wrap: nowrap;
        

        .slider{
            flex-wrap: nowrap;
            .card{
                min-width: auto;
                margin: auto;
                position: relative;

                .content{
                    padding: 10px;
                }
                .img{
                    text-align: center;
                    >img{
                        height: auto;
                        width: auto;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
    
    @media(min-width: 1025px) and (max-width: 1280px){
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    
    @media(min-width: 1281px){
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
}