.main-recentworks {
  text-align: center;
  height: 100%;
}

.main-recentworks .main-title {
  font-family: WinterSunday;
  font-size: 92px;
  color: #F4D6F1;
  text-shadow: -1px 3px 0px #FF005C;
}

.main-recentworks .wrapper-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-recentworks .wrapper-products .main-product {
  background-color: #C4C4C4;
  margin-left: 20px;
}

.main-recentworks .wrapper-secundary {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.main-recentworks .wrapper-secundary .secundary-product {
  width: 99%;
  background-color: #C4C4C4;
  height: 235px;
}

@media (min-width: 320px) and (max-width: 479px) {
  .main-recentworks .wrapper-products .main-product {
    height: 250px;
    margin: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 75%;
  }
  .main-recentworks .wrapper-secundary {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 300px;
    margin-left: 5px;
    gap: 5px;
  }
  .main-recentworks .wrapper-secundary .secundary-product {
    height: 155px;
    margin-bottom: 0;
  }
}

@media (min-width: 480px) and (max-width: 599px) {
  .main-recentworks .wrapper-products .main-product {
    width: 350px;
    height: 350px;
    margin: auto;
  }
  .main-recentworks .wrapper-secundary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 960px;
    gap: 5px;
  }
  .main-recentworks .wrapper-secundary .secundary-product {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 225px;
            flex: 1 1 225px;
    height: 115px;
    max-width: 115px;
  }
}

@media (min-width: 600px) and (max-width: 800px) {
  .main-recentworks .wrapper-products .main-product {
    width: 350px;
    height: 350px;
    margin: auto;
  }
  .main-recentworks .wrapper-secundary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 960px;
    gap: 5px;
  }
  .main-recentworks .wrapper-secundary .secundary-product {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 225px;
            flex: 1 1 225px;
    height: 190px;
    max-width: 218px;
  }
}

@media (min-width: 801px) and (max-width: 1024px) {
  .main-recentworks .wrapper-products .main-product {
    width: 500px;
    height: 450px;
    margin: auto;
  }
  .main-recentworks .wrapper-secundary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 960px;
    gap: 5px;
  }
  .main-recentworks .wrapper-secundary .secundary-product {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 225px;
            flex: 1 1 225px;
    height: 190px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .main-recentworks .wrapper-products {
    padding-bottom: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-recentworks .wrapper-products .main-product {
    width: 100%;
    margin: auto;
    max-width: 960px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-recentworks .wrapper-secundary {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 960px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .main-recentworks .wrapper-secundary .secundary-product {
    width: 20%;
    background-color: #C4C4C4;
    height: 200px;
    margin-right: 0%;
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 250px;
            flex: 1 1 250px;
  }
}

@media (min-width: 1281px) {
  .main-recentworks .wrapper-products {
    padding-bottom: 50px;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main-recentworks .wrapper-products .main-product {
    width: 100%;
    margin: auto;
    max-width: 960px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 500px;
            flex: 1 1 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-recentworks .wrapper-secundary {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 960px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .main-recentworks .wrapper-secundary .secundary-product {
    background-color: #C4C4C4;
    height: 200px;
  }
}
/*# sourceMappingURL=ultimostrabalhos.css.map */