*{
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: WinterSunday;
    src: url(../../assets/fonts/WinterSunday.otf);
}

.main-header{
    justify-content: space-between;
    background-color: #fff;
    display: flex;
    height: 105px;
    width: 100%;

    >img{
        z-index: 40;
    }

    .wrapper-login{
        border-radius: 40px;
        background-color: #DB00FF;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        >img{
            position: absolute;
            right: 0px;
            z-index: 0;
        }

        >a{
            color: #fff;
            line-height: 24,19px;
            font-family: 'Viga', Arial, Helvetica, sans-serif;
            font-size: 38px;
        }
    }

    .main-action{
        padding-top: 25px;
        display: inline-flex;
        align-items: center;
        padding-right: 61px;
        padding-left: 61px;
        font-size: 2.5rem;
        font-family: WinterSunday;
        color: #7C3267;
        text-decoration: none;
    }

    .main-action.-second{
        color: #fff;
        line-height: 24,19px;
        font-family: 'Viga', Arial, Helvetica, sans-serif;
        font-size: 38px;
        padding-top: 0px;
        padding-right: 99px;
        padding-left: 15px;
    }

    .main-action.-third{
        padding-top: 0px;
        padding-right: 99px;
        padding-left: 15px;
        font-size: 18px;
    }


    .nav{
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-items: flex-start;
    }

    .nav a{
        transition: all 0.3s;
    }

    .nav a:hover{
        font-size: 55px;
        color: #7C3267;
    }

    .logomin{
        display:none;
    }

    .logobig{
        display: block;
    }

    .arrow{
        transform: rotate(180deg);
        align-self: flex-start;
        margin-top: 20px;
        margin-left: 20px;
    }

    #menu-trigger{
        display: none;
    }


    @media (min-width:320px) and (max-width: 800px) { 

        .main-action{
            display: none;
        }

        .wrapper-login{
            background-color: white;

            >img{
                position: relative;
            }

            >a{
                display: none;
            }
        }

        

        .logomin{
            display: block;
        } 
    
        .logobig{
            display: none;
        }
    
        #menu-trigger {
            display: block;
            width: 30px;
            height: 20px;
            position: absolute;
            top: 40px;
            margin-right: 20px;
            right: 0;
            cursor: pointer;
            z-index: 3001;
        }
            
        .menu-trigger div {
            width: 30px;
            height: 4px;
            background: black none repeat scroll 0% 0%;
            margin-top: 3px;
        }
    
        .menu-hidde {
            display: none;
            text-decoration: none;
            background: white none repeat scroll 0% 0%;
            width: 185px;
            height: 80%;
            position: absolute; /*necessária para o funcionamento*/
            box-shadow: -5px 11px 21px gray;
            right: -100%;  /*é com essa propriedade que o menu fica escondido a direita*/
            transition: right .5s;
            z-index: 3000;

            >li{
                color: #fff;
                font-size: 20px;
                padding: 18px;
                cursor: pointer;
            }

            >ul{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            >a{
                text-align:center;
                font-family: 'Viga';
                color: #7C3267;
            }
            >a::after{
                content: '';
                width: 50%;
                background: #7C3267;
                height: 3px;
                display: block;
            }
        }
    }

    @media (min-width:801px) and (max-width: 1024px) { 

        .logomin{
            display: block;
        } 
    
        .logobig{
            display: none;
        }
    
        .menu-hidde{
            display: none;
        }

        .main-action{
            padding-right: 14px;
            padding-left: 14px;
            display: block;
        }
    }


    
    @media (min-width:1025px){
        .main-action{
            padding-right: 30px;
            padding-left: 30px;
            display: block;
        }
    }

    @media (min-width:1025px) and (max-width: 1280px) { 

        .logomin{
            display: block;
            padding-left: 10px;
        } 
    
        .logobig{
            display: none;
        }
    
        .menu-hidde{
            display: none;
        }

    }

    @media (min-width:1281px) { 

        .logomin{
            display: none;
        }
        .-secundary .logomin{
            display: block;
        }
        .logobig{
            display: block;
        }
        .menu-hidde{
            display: none;
        }
     }
    

}
