.wrapper-question{
    width: 600px;
    height: 410px;
    border: 1px solid #cfcfcf;
    background-color: white;
    border-radius: 5%;
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-question{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        
        >h1{
            color: #3a1616;
            font-size: 30px;
            text-shadow: 2px 1px 1px #ed04bb;
            font-weight: 700;
            padding-bottom: 10px;
        }
    }

    .title-question::after{
        content: '';
        position: absolute;
        width: 400px;
        height: 1px;
        border: 4px solid #dfdfdf;
        border-radius: 62%;
        
    }
}